/Documents/NetBeansProjects/JavaApplication1/nbproject/private/
/Documents/NetBeansProjects/JavaApplication2/nbproject/private/
/Documents/NetBeansProjects/JavaApplication2/dist/
/Documents/NetBeansProjects/JavaApplication2/build/
