<!DOCTYPE html>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<html>
    <head>
        <title>Finding the max value among 3 numbers</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
    </head>
    <body>
        <h1>Provide 3 Numbers</h1>
        <form action="/rsMax">
            Number 1:<input type="text" name="txt_number1" />
            <br/><!-- comment -->
            Number 2: <input type="text" name="txt_number2"  />
            <br/>
            Number 3:<input type="text" name="txt_number3"  />
            <br/><!-- comment -->
            <input type="submit" value="Show Max" />
        </form>
    </body>
</html>
