<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<plugin>

	<!--Hack to override DELETE resource -->
	
	<extension         point="org.eclipse.ui.navigator.viewer">      
		<viewerActionBinding            viewerId="org.eclipse.ui.navigator.ProjectExplorer">         
			<includes>            
				<actionExtension       
			   		pattern="com.businessobjects.bimodeler.rcp.MyEditActionExtension">            
			   	</actionExtension>         
		   </includes>      
	   </viewerActionBinding>       
	</extension>
   	<extension         point="org.eclipse.ui.navigator.navigatorContent">      
   	<actionProvider            
   		class="com.businessobjects.bimodeler.rcp.navigator.HackEditActionProvider"            
   		id="com.businessobjects.bimodeler.rcp.MyEditActionExtension"           
   		overrides="org.eclipse.ui.navigator.resources.actions.EditActions"            
   		priority="highest">         
   		<enablement>         
		   <!-- A hack to always be enabled -->         
		   <not>            
		   <systemTest                  
		   property="MyApp"                  
		   value="WONT-EVER-BE-SET">            
		   </systemTest>         
		   </not>         
	   </enablement>     
   	</actionProvider>   
   	</extension>
	<!--End of Hack to override DELETE resource -->

   <extension
         id="application"
         point="org.eclipse.core.runtime.applications">
      <application>
         <run
               class="com.businessobjects.bimodeler.rcp.Application">
         </run>
      </application>
   </extension>
   <extension
         id="product"
         point="org.eclipse.core.runtime.products">
      <product
            application="com.businessobjects.bimodeler.rcp.application"
            name="%product_name">
         <property
               name="aboutText"
               value="%aboutText"/>
         <property
               name="windowImages"
               value="icons/InformationDesigner.png"/>
         <property
               name="aboutImage"
               value="icons/About.png"/>
         <property
               name="appName"
               value="%product_name">
         </property>
         <property
               name="startupProgressRect"
               value="6,258,408,10">
         </property>
         <property
               name="preferenceCustomization"
               value="plugin_customization.ini">
         </property>
         <property
               name="startupForegroundColor"
               value="400000">
         </property>
         <property
               name="startupMessageRect"
               value="80,269,264,20">
         </property>
      </product>
   </extension>
   <extension
         point="org.eclipse.ui.perspectives">
      <perspective
            class="com.businessobjects.bimodeler.rcp.Perspective"
            fixed="false"
            icon="icons/InformationDesigner.png"
            id="com.businessobjects.bimodeler.perspective"
            name="%perspectiveName">
      </perspective>
   </extension>
   <extension
         point="org.eclipse.ui.views">
      <category
            id="com.businessobjects.bimodeler"
            name="%product_name">
      </category>
       <view
            allowMultiple="false"
            category="com.businessobjects.bimodeler"
            class="com.businessobjects.bimodeler.rcp.navigator.LocalProjectsNavigator"
            icon="icons/InformationDesigner.png"
            id="com.businessobjects.bimodeler.views.repository.local"
            name="%RCP_LOCAL_PROJECTS">
      </view>
   </extension>
   <extension
         point="org.eclipse.ui.navigator.viewer">
      <viewer
            viewerId="com.businessobjects.bimodeler.views.repository.local">
      </viewer>
      <viewerContentBinding
            viewerId="com.businessobjects.bimodeler.views.repository.local">
         <includes>
            <contentExtension
                  pattern="org\.eclipse\.ui\.navigator\.resourceContent">
            </contentExtension>
            <contentExtension
                  pattern="org\.eclipse\.ui\.navigator\.resources\.linkHelper">
            </contentExtension>
         </includes>
      </viewerContentBinding>
      <viewerActionBinding
            viewerId="com.businessobjects.bimodeler.views.repository.local">
         <includes>
            <actionExtension
                  pattern="com.businessobjects.bimodeler.*">
            </actionExtension>
            <!--Add : Open / Open With
            removed : We use our customize one. 
            <actionExtension
                  pattern="org.eclipse.ui.navigator.resources.OpenActions">
            </actionExtension>
            -->
			<!--Add : Import / Export 
            <actionExtension
                  pattern="org.eclipse.ui.navigator.resources.PortingActions">
            </actionExtension>
            -->
			<!--Add : Refresh -->
			<actionExtension
                  pattern="org.eclipse.ui.navigator.resources.ResourceMgmtActions">
            </actionExtension>
            <!--Add : Properties -->
            <actionExtension
                  pattern="org.eclipse.ui.navigator.resources.PropertiesActionProvider">
            </actionExtension>
         </includes>
      </viewerActionBinding>
   </extension>
   <extension
         point="org.eclipse.ui.navigator.navigatorContent">
      <actionProvider
            class="com.businessobjects.bimodeler.rcp.navigator.NewActionProvider"
            id="com.businessobjects.bimodeler.NewActions">
         <enablement>
            <or>
               <instanceof
                     value="org.eclipse.core.resources.IContainer">
               </instanceof>
               <instanceof
                     value="java.util.Collection">
               </instanceof>
            </or>
         </enablement>
      </actionProvider>
           <actionProvider
            class="com.businessobjects.bimodeler.shared.actions.DeleteActionProvider"
            id="com.businessobjects.bimodeler.DeleteAction">
         <enablement>
            <instanceof value="org.eclipse.core.resources.IResource"></instanceof>
         </enablement>
      </actionProvider>
      <actionProvider
            class="com.businessobjects.bimodeler.shared.actions.OpenActionProvider"
            id="com.businessobjects.bimodeler.OpenAction">
         <enablement>
            <instanceof value="org.eclipse.core.resources.IResource"></instanceof>
         </enablement>
      </actionProvider>
      
      
   </extension>
   <!-- workaround to bug https://bugs.eclipse.org/bugs/show_bug.cgi?id=264839
   we add an empty contribution to tabbed property view to avoid an error in the log -->
   <extension point="org.eclipse.ui.views.properties.tabbed.propertyContributor">
       <propertyContributor
             contributorId="com.businessobjects.bimodeler.views.repository.local">
          <propertyCategory></propertyCategory>
       </propertyContributor>
    </extension>  
 
	<!--end of workaround -->
	
	
	<!-- Removing convert line delimiters menu. -->
	<extension point="org.eclipse.ui.activities">
		<activity
			description="%RCP_DISABLE_PLUGINS_CONTRIB"
			id="myRcp.app.ID.disableEclipseIDEContribs"
			name="%RCP_DISABLE_IDE_CONTRIB">
		</activity>
		<activityPatternBinding
			activityId="myRcp.app.ID.disableEclipseIDEContribs"
			pattern="org\.eclipse\.ui\.editors/org\.eclipse\.ui\.edit\.text\.delimiter.*">
		</activityPatternBinding>
		<activityPatternBinding
		    activityId="myRcp.app.ID.disableEclipseIDEContribs"
		    pattern="org\.eclipse\.ui\.ide/org\.eclipse\.ui\.wizards\.new\.project">
		</activityPatternBinding>
		<activityPatternBinding
		    activityId="myRcp.app.ID.disableEclipseIDEContribs"
		    pattern="org\.eclipse\.ui\.ide/org\.eclipse\.ui\.wizards\.new\.file">
		</activityPatternBinding>
		<activityPatternBinding
		    activityId="myRcp.app.ID.disableEclipseIDEContribs"
		    pattern="org\.eclipse\.ui\.ide/org\.eclipse\.ui\.wizards\.new\.folder">
		</activityPatternBinding>
		<activityPatternBinding
		    activityId="myRcp.app.ID.disableEclipseIDEContribs"
		    pattern="org\.eclipse\.ui\.editors/org\.eclipse\.ui\.editors\.wizards\.UntitledTextFileWizard">
		</activityPatternBinding>
		<activityPatternBinding
		    activityId="myRcp.app.ID.disableEclipseIDEContribs"
		    pattern="org\.eclipse\.ui\.editors/org\.eclipse\.ui\.editors\.wizards\.UntitledTextFileWizard">
		</activityPatternBinding>
  <activityPatternBinding
        activityId="myRcp.app.ID.disableEclipseIDEContribs"
        pattern="org\.eclipse\.ui\.ide/org\.eclipse\.ui\.propertypages\.project\.reference">
  </activityPatternBinding>
   </extension>
   <extension point="org.eclipse.ui.menus">
      <menuContribution locationURI="popup:org.eclipse.ui.popup.any?before=delete">
         <separator
               name="com.businessobjects.bimodeler.rcp.separatorCopyPaste"
               visible="true">
         </separator>
         <command
               commandId="org.eclipse.ui.edit.copy"
               style="push">
         </command>
         <command
               commandId="org.eclipse.ui.edit.cut"
               style="push">
         </command>
         <command
               commandId="org.eclipse.ui.edit.paste"
               style="push">
         </command>
      </menuContribution>
   </extension>
   <extension
         point="org.eclipse.ui.actionSets">
      <actionSet
            id="com.businessobjects.bimodeler.rcp.tb.contrib"
            label="toolbarContributions"
            visible="true">
            <action
                  class="com.businessobjects.bimodeler.rcp.actions.ShowHideRepositoryViewAction"
                  icon="icons/InformationDesigner.png"
                  id="com.businessobjects.bimodeler.rcp.actions.ShowHideRepositoryViewAction_1"
                  label="%RCP_SHOW_LOCAL_REPO"
                  menubarPath="window/groupViews"
                  style="toggle"
                  toolbarPath="groupViews"
                  tooltip="%RCP_SHOW_HIDE_TOOLTIP_LOCAL_REPO">
         </action>
         <action
               class="com.businessobjects.bimodeler.rcp.actions.ShowHideProblemsViewAction"
               icon="icons/Problems.png"
               id="com.businessobjects.bimodeler.rcp.actions.ShowHideProblemsViewAction_5"
               label="%RCP_SHOW_PROBLEMS"
               menubarPath="window/groupViews"
               style="toggle"
               toolbarPath="groupViews"
               tooltip="%RCP_SHOW_HIDE_TOOLTIP_INTEG_PBM">
         </action>
         <action
               class="com.businessobjects.bimodeler.rcp.actions.OpenProjectAction"
               icon="icons/OpenFile.png"
               id="com.businessobjects.bimodeler.rcp.actions.OpenProject"
               label="%OPEN_PROJECT"
               menubarPath="file/open.ext"
               style="push">
         </action>
         <action
               class="com.businessobjects.bimodeler.rcp.internal.RecentFilesPulldownMenu"
               icon="icons/RecentFile.png"
               id="com.businessobjects.bimodeler.rcp.action2"
               label="%RECENT_RESOURCES"
               menubarPath="file/show.ext"
               style="pulldown">
         </action>
      </actionSet>  
   </extension>
   <extension
         point="org.eclipse.ui.splashHandlers">
      <splashHandler
            class="com.businessobjects.bimodeler.rcp.internal.IDTSplashHandler"
            id="com.businessobjects.bimodeler.rcp.splashHandler">
      </splashHandler>
      <splashHandlerProductBinding
            productId="com.businessobjects.bimodeler.rcp.product"
            splashId="com.businessobjects.bimodeler.rcp.splashHandler">
      </splashHandlerProductBinding>
   </extension>
   <extension
         point="com.businessobjects.mds.resource.key_resolver">
       <keyProviderFactory
             Class="com.businessobjects.bimodeler.shared.session.keys.IDTKeyProviderFactory">
       </keyProviderFactory>
   </extension>
	 
	<extension
       point="org.eclipse.ui.intro">
      <intro
            class="org.eclipse.ui.intro.config.CustomizableIntroPart"
            icon="icons/Welcome.png"
            id="intro">
      </intro>
      <introProductBinding
            introId="intro"
            productId="com.businessobjects.bimodeler.rcp.product"/>
   </extension> 
   
   <extension   
         id="config"
         point="org.eclipse.ui.intro.config">
      <config
            content="content/introContent.xml"
            id="introConfig"
            introId="intro">
         <presentation
               home-page-id="root">
            <implementation
                  kind="html"
                  os="win32,linux,macosx">
            </implementation>
         </presentation>
      </config>
   </extension>
   <extension
         point="org.eclipse.ui.intro.configExtension">
      <standbyContentPart
            class="com.businessobjects.bimodeler.rcp.welcome.CheatSheetStandbyContent"
            id="com.businessobjects.bimodeler.rcp.cheatsheet"
            pluginId="com.businessobjects.bimodeler.rcp">
      </standbyContentPart>
   </extension>
   <extension
         point="com.businessobjects.bimodeler.shared.welcome">
      <group
            id="group.new"
            title="%INTRO_GROUP_NEW">
      </group>
      <group
            id="group.open"
            title="%INTRO_GROUP_OPEN">
      </group>
      <group
            id="group.help"
            title="%INTRO_GROUP_HELP">
      </group>
      <groupLinksBinding
            groupId="group.new">
         <link
               description="%INTRO_LINK_NEW_UNI_WIZ_DESCRIPTION"
               icon="icons/Welcome/Wizard64.png"
               id="com.businessobjects.bimodeler.rcp.link1"
               standby="true"
               title="%INTRO_LINK_NEW_UNI_WIZ"
               url="http://org.eclipse.ui.intro/runAction?pluginId=com.businessobjects.bimodeler.universe&amp;class=com.businessobjects.bimodeler.universe.wizards.guide.actions.OpenUniversalWizardAction">
         </link>
         <link
               description="%INTRO_LINK_NEW_PROJECT_DESCRIPTION"
               icon="icons/Welcome/Project64.png"
               id="com.businessobjects.bimodeler.rcp.link2"
               standby="true"
               title="%INTRO_LINK_NEW_PROJECT"
               url="http://org.eclipse.ui.intro/runAction?pluginId=com.businessobjects.bimodeler.shared&amp;class=com.businessobjects.bimodeler.shared.actions.NewProjectAction">
         </link>
         <link
               description="%INTRO_LINK_NEW_RCN_DESCRIPTION"
               icon="icons/Welcome/RelationalConnection64.png"
               id="com.businessobjects.bimodeler.rcp.link3"
               standby="true"
               title="%INTRO_LINK_NEW_RCN"
               tooltip="%INTRO_LINK_NEW_RCN_TOOLTIP"
               url="http://org.eclipse.ui.intro/runAction?pluginId=com.businessobjects.bimodeler.connection&amp;class=com.businessobjects.bimodeler.connection.actions.NewRelationalConnectionAction">
         </link>
         <link
               description="%INTRO_LINK_NEW_OCN_DESCRIPTION"
               icon="icons/Welcome/OlapConnection64.png"
               id="com.businessobjects.bimodeler.rcp.link4"
               standby="true"
               title="%INTRO_LINK_NEW_OCN"
               tooltip="%INTRO_LINK_NEW_OCN_TOOLTIP"
               url="http://org.eclipse.ui.intro/runAction?pluginId=com.businessobjects.bimodeler.connection&amp;class=com.businessobjects.bimodeler.connection.actions.NewOlapConnectionAction">
         </link>
         <link
               description="%INTRO_LINK_NEW_DF_DESCRIPTION"
               icon="icons/Welcome/DataFoundation64.png"
               id="com.businessobjects.bimodeler.rcp.link5"
               standby="true"
               title="%INTRO_LINK_NEW_DF"
               tooltip="%INTRO_LINK_NEW_DF_TOOLTIP"
               url="http://org.eclipse.ui.intro/runAction?pluginId=com.businessobjects.bimodeler.datafoundation&amp;class=com.businessobjects.bimodeler.datafoundation.actions.NewDataFoundationAction">
         </link>
         <link
               description="%INTRO_LINK_NEW_BL_DESCRIPTION"
               icon="icons/Welcome/BusinessLayer64.png"
               id="com.businessobjects.bimodeler.rcp.link6"
               standby="true"
               title="%INTRO_LINK_NEW_BL"
               tooltip="%INTRO_LINK_NEW_BL_TOOLTIP"
               url="http://org.eclipse.ui.intro/runAction?pluginId=com.businessobjects.bimodeler.universe&amp;class=com.businessobjects.bimodeler.universe.actions.NewUniverseAction">
         </link>
      </groupLinksBinding>
      <groupLinksBinding
            groupId="group.open">
         <link
               description="%INTRO_LINK_OPEN_PROJECT_DESCRIPTION"
               icon="icons/Welcome/OpenProject64.png"
               id="com.businessobjects.bimodeler.rcp.link15"
               standby="true"
               title="%INTRO_LINK_OPEN_PROJECT"
               url="http://org.eclipse.ui.intro/runAction?pluginId=com.businessobjects.bimodeler.rcp&amp;class=com.businessobjects.bimodeler.rcp.actions.OpenProjectAction">
         </link>
         <link
               description="%INTRO_LINK_OPEN_CONVERT_DESCRIPTION"
               icon="icons/Welcome/Convert64.png"
               id="com.businessobjects.bimodeler.rcp.link16"
               standby="true"
               title="%INTRO_LINK_OPEN_CONVERT"
               url="http://org.eclipse.ui.intro/runAction?pluginId=com.businessobjects.bimodeler.universe&amp;class=com.businessobjects.bimodeler.universe.actions.ConvertUniverseIntroAction">
         </link>
         <link
               description="%INTRO_LINK_OPEN_RECENT_DESCRIPTION"
               icon="icons/Welcome/RecentFile64.png"
               id="com.businessobjects.bimodeler.rcp.link17"
               standby="true"
               title="%INTRO_LINK_OPEN_RECENT">
            <dynamicContent
                  class="com.businessobjects.bimodeler.rcp.welcome.RecentFilesListProvider"
                  id="RecentListProvider"
                  pluginId="com.businessobjects.bimodeler.rcp">
            </dynamicContent>
         </link>
      </groupLinksBinding>
      <groupLinksBinding
            groupId="group.help"> 
         <link
               description="%INTRO_LINK_HELP_TUTORIAL_DESCRIPTION"
               icon="icons/Welcome/Tutorial64.png"
               id="com.businessobjects.bimodeler.rcp.link12"
               standby="true"
               title="%INTRO_LINK_HELP_TUTORIAL"
               url="http://scn.sap.com/docs/DOC-8461?refer=product-help">
         </link>
         <link
               description="%INTRO_LINK_HELP_CONTENT_DESCRIPTION"
               icon="icons/Welcome/Help64.png"
               id="com.businessobjects.bimodeler.rcp.link14"
               standby="true"
               title="%INTRO_LINK_HELP_CONTENT"
               url="http://org.eclipse.ui.intro/showHelp">
         </link>
         <link
               description="%INTRO_LINK_HELP_ABOUT_DESCRIPTION"
               icon="icons/Welcome/About64.png"
               id="com.businessobjects.bimodeler.rcp.link26"
               standby="false"
               title="%INTRO_LINK_HELP_ABOUT"
               url="http://org.eclipse.ui.intro/runAction?pluginId=com.businessobjects.bimodeler.rcp&amp;class=com.businessobjects.bimodeler.rcp.actions.OpenAboutAction">
         </link>
         <link
               description="%INTRO_LINK_HELP_CC_DESCRIPTION"
               icon="icons/Welcome/Cheatsheet64.png"
               id="com.businessobjects.bimodeler.rcp.link13"
               standby="false"
               title="%INTRO_LINK_HELP_CC"
               url="http://org.eclipse.ui.intro/runAction?pluginId=com.businessobjects.bimodeler.rcp&amp;class=com.businessobjects.bimodeler.rcp.actions.OpenCheatSheetAction">
               >
               
            <subLink
                  icon="icons/Welcome/Cheatsheet.png"
                  title="%INTRO_LINK_HELP_CC_SUBLINK_OCN"
                  url="http://org.eclipse.ui.intro/showStandby?partId=com.businessobjects.bimodeler.rcp.cheatsheet&amp;input=com.businessobjects.bimodeler.cheatsheets.createyourfirstolapuniverse">
            </subLink>
            <subLink
                  icon="icons/Welcome/Cheatsheet.png"
                  title="%INTRO_LINK_HELP_CC_SUBLINK_RCN"
                  url="http://org.eclipse.ui.intro/showStandby?partId=com.businessobjects.bimodeler.rcp.cheatsheet&amp;input=com.businessobjects.bimodeler.cheatsheets.createyourfirstuniverse">
            </subLink>
         </link>
      </groupLinksBinding>
   </extension>
   
</plugin>
